* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 2px solid black; */
    /* height: 100px; */
}


header {
    padding: 10px 120px;
}

.header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 20px
}

.navigation ul {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.navigation ul li {
    padding: 8px 10px 12px;
    color: rgb(58, 95, 86);
    font-family: Roboto;
    line-height: 16px;
}

.cart {
    padding: 13px 18px;
    display: flex;
    gap: 8px;
    align-items: center;

    border-radius: 6px;
    background: rgb(58, 95, 86);
    color: white;
    border: 0;
}

.cart span {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    line-height: 22.4px;
}

.count {
    border-radius: 9px;
    background-color: white;
    padding: 0 6px;
    color: rgb(58, 95, 86);
    font-family: Roboto;
    font-size: 11px;
    line-height: 18px;
}


main {
    display: flex;
    flex-direction: column;
}

#about {
    background: rgb(244, 243, 240);
    position: relative;
    padding: 100px 136px;
    overflow: hidden;
}

#about .content {
    display: flex;
    gap: 82px;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.about-text h1 {
    color: rgb(58, 95, 86);
    font-family: Source Serif Pro;
    font-size: 48px;
    line-height: 57.6px;
}

.about-text p {
    color: rgb(41, 44, 50);
    font-family: Roboto;
    font-size: 16px;
    line-height: 22.4px;
    width: 534px;
}

.about-text button {
    border-radius: 6px;
    border: 0;
    background: rgb(58, 95, 86);

    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    line-height: 22.4px;

    padding: 11px 18px;
    border: 2px solid;
    transition: 0.3s;
    z-index: 1;
}

.about-text button:hover {
    cursor: pointer;
    border: 2px solid rgb(58, 95, 86);
    background-color: rgb(244, 243, 240);
    color: rgb(58, 95, 86);
}

.content img {
    border-radius: 24px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    width: 552px;
    height: 773px;
    flex-shrink: 0;
}

#about .top {
    position: absolute;
    background: radial-gradient(50.00% 50.00% at 50% 50%, rgba(58, 95, 86, 0.55), rgba(58, 95, 86, 0) 100%);
    width: 564px;
    height: 494px;
    right: -6.94%;
    top: -100px;
}

#about .bottom {
    position: absolute;
    background: radial-gradient(50.00% 50.00% at 50% 50%, rgba(184, 125, 88, 0.8), rgba(184, 125, 88, 0) 100%);
    width: 723px;
    height: 813px;
    left: -15.42%;
    bottom: -442px;
}

#services {
    width: 1440px;
    height: 1321px;
    overflow: hidden;
    display: flex;
    position: relative;
}

#services .content{
    width: 1200px;
    height: 1121px;
    /* border: 2px solid black; */
    margin: 100px 120px 100px 120px;
}

.services-text{
    width: 600px;
    height: 159px;
    margin: 0 300px 39.53px 300px;
    /* border: 2px solid black; */

}

.zigzag{
    margin: 0.47px 220px 15px;
}

.services-text h1{
    margin-left: 240px;
    margin-bottom: 11px;
    color: rgb(58, 95, 86);
    font-family: Source Serif Pro;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
}

.services-text p{
    margin-left: 5px;
    color: rgb(41, 44, 50);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
}

.services-cards {
    width: 1168px;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

}

.services-cards .card{
    width: 379px;
    height: 304px;
    border-radius: 16px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.03);
    background: rgb(244, 243, 240);

}

.cardfoto{
    margin: 30px 301px 9px 30px;
}

.services-cards h2{
    color: rgb(58, 95, 86);
    font-family: Source Serif Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-left: 30px;
    margin-bottom: 6px;

}

.services-cards p{
    color: rgb(41, 44, 50);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    margin-left: 30px;
    margin-right: 39px;
    margin-bottom: 17px;

}

.services-cards a{
    color: rgb(58, 95, 86);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    margin-left: 30px;
    text-decoration-line: none;
}

.services-cards .cardcard7{
    width: 379px;
    height: 282px;
    border-radius: 16px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.03);
    background: rgb(244, 243, 240);
}

#services .bottom2{
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(58, 95, 86, 0.38),rgba(58, 95, 86, 0) 100%);
    position: absolute;
    width: 806px;
    height: 663px;
    margin: 993px 1094px -335px -460px;

}

#preset {
    width: 1440px;
    height: 890px;
    background: rgb(244, 243, 240);
    overflow: hidden;
    display: flex;
    position: relative;
}

#preset .content{
    width: 1200px;
    height: 690.44px;
    /* border: 2px solid black; */
    margin: 100.47px 120px 99.09px 120px;
}

.preset-text{
    width: 600px;
    height: 159px;
    margin: 0 300px 39.53px 300px;
    /* border: 2px solid black; */

}

.zigzag2{
    margin: 0.47px 220px 15px;
}

.preset-text h1{
    margin-left: 212px;
    margin-bottom: 11px;
    color: rgb(219, 52, 59);
    font-family: Source Serif Pro;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
}

.preset-text p{
    margin-left: 5px;
    color: rgb(41, 44, 50);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
}
.preset-cards {
    width: 1168px;
    height: 438.44px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 16px;
    margin-bottom: 29px;
    margin-top: 40px;

}

.preset-cards .card2{
    width: 379px;
    height: 438px;
    border-radius: 16px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.preset-cards .card2 img{
    width: 379px;
    height: 252px;
    border-radius: 0%;
    /* border: 2px dashed grey; */
}

.preset-cards .card2 h2{
    color: rgb(58, 95, 86);
    font-family: Source Serif Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    margin: 30px 63.66px 6px 30px;
}

.preset-cards .card2 p{
    color: rgb(58, 95, 86);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-left: 30px;
    margin-right: 31.66px;
}


#preset a{
    color: rgb(58, 95, 86);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.8px;
    margin-left: 540px;
    margin-right: 564px;
    text-decoration-line: none;
}

#preset .bottom3{
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(219, 52, 59, 0.3),rgba(219, 52, 59, 0) 100%);
    position: absolute;
    width: 516px;
    height: 501px;
    margin: 587px -213px -198px 1137px;

}

#work{
    width: 1440px;
    height: 459px;
    overflow: hidden;
    display: flex;
    position: relative;

}

#work .content{
    width: 800px;
    height: 259px;
    border-radius: 16px;
    background: rgb(244, 243, 240);
    margin: 100.09px 320px 99.91px;
    display: flex;
    flex-direction: row;
}

#work .content p{
    color: rgb(41, 44, 50);
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    margin: 80px 202px 78px 80px;
    width: 313px;
    height: 101px;
}

#work .content button {
    border-radius: 6px;
    background: rgb(58, 95, 86);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 125px;
    height: 58px;
    padding: 15px 25px;
    margin: 100px 80px 101px 0;
}

#work .content button:hover {
    cursor: pointer;
    border: 2px solid rgb(58, 95, 86);
    background-color: rgb(244, 243, 240);
    color: rgb(58, 95, 86);
}

#work .bottom4{
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(184, 125, 88, 0.35),rgba(184, 125, 88, 0) 100%);
    position: absolute;
    width: 855px;
    height: 774px;
    margin: 159.09px 685px -474.09px -100px;

}

#black{
    width: 1440px;
    background: rgb(41, 44, 50);

}

#black .content{
    width: 1168px;
    margin: 99.91px 136px 100.59px;
}

#black .content .logo{
    margin: 0 504px 75px;

}

#black .clmn{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

#black h3{
    color: rgb(184, 125, 88);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#black a{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-decoration: none;
}

#black p{
    color: rgb(250, 250, 252);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

#black form{
    position: relative;
    width: 458px;
    margin-top: 8px;
}

#black .big{
    width: 458px;
    height: 53px;
    box-sizing: border-box;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    background: rgb(249, 250, 251);
    color: rgb(171, 171, 171);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding: 14px 0px 16px 25px;
}

#black .small{
    width: 71px;
    height: 39px;
    border-radius: 10px;
    background: rgb(41, 44, 50);
    color: rgb(250, 250, 252);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding: 7px 10px 9px;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;

}

.columns{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
}

.infa{
    grid-column: span 4;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
}


.icons{
    margin-left: 517px;
}
